* {
  box-sizing: border-box;
}

body {
  background-color: #d5f3f7;
  color: #1e8696;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin: 16px 0;
}

.beeer, .pouring {
  width: 80%;
  margin: 0 auto;
}

.beeer img,
.pouring img {
  width: 100%;
}

.beerForm {
  width: 80%;
  max-width: 600px;
  margin: 16px auto;
}

.beerMessageSection {
  display: felx;
  margin: 32px 0;
}

.beerLabel {
  font-size: 22px;
  width: 30%;
  flex: 0 1 auto;
}

.beerMessage {
  border: 2px solid #33c1d6;
  border-radius: 4px;
  font-size: 22px;
  line-height: 1.5;
  padding: 8px;
  width: 70%;
  flex: 0 1 auto;
  margin-left: 8px;
  background-color: transparent;
  color: #1e8696;
}

.beerButton {
  cursor: pointer;
  display: block;
  margin: 16px auto;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  font-size: 22px;
  background-color: #33c1d6;
  color: #1e8696
}

.beerContainer {
  background-color: #c0ecf2;
  margin: 16px 0;
  padding: 16px;
  border-radius: 4px;
}

.beerContainer:nth-of-type(2n - 1) {
  background-color: #a2e1eb;
}